nav a {
  top:0;
  text-decoration: none;
  position: relative;
  display: inline-block;
}


nav a::after {
  content: '';
  width: 100%;
  position: absolute;
  top:90%;
  left: 0;
  height: 1.5px;
  background: black;
  transform: scaleX(0);
  transition: transform .35s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
